.container-principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url(../images/technology-futuristic-bg.avif);
    height: calc(100vh - 3.5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--color-light);
    align-items: center;
    text-align: center;
}

.container-texto {
    font-size: var(--fonte-principal);
    width: 50rem;
    font-weight: 400;
}

.container-fotos {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 2rem;
}

.apresentacao img {
    width: 12rem;
    border-radius: 20%;
    overflow: hidden;
}

.img-subtitulo {
    font-size: 1rem;
    color: #b1b1b1;
    margin-top: .8em;
}

.img-texto {
    font-size: .6rem;
    width: 12rem;
}

.container-sec {
    background-color: #070025;
    color: var(--color-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--color-light);
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.span {
    color: var(--color-gear);
    font-weight: 300;
}